

Codes/MotorResponseGrapher/MotorResponseGrapher.ino
*.lck
/Website/control-chef-website/node_modules
/Website/control-chef-website/.parcel-cache
/Website/control-chef-website/dist



/Codes/2DOF_Full_Code/build
/Codes/2DOF_HOVER_REVISED/build
/Codes/2DOF_Full_Code/.vscode
/Codes/2DOF_Full_Code/.vscode
/Codes/2DOF_HOVER_REVISED/.vscode
Codes/2DOF_Full_Code/.vscode/c_cpp_properties.json
/.vscode
Codes/2DOF_Full_Code/sketch.json
