.testimonials {
  height: 1003px;
  position: relative;
  width: 246px;
}

.testimonials .testimonial-item {
  height: 272px;
  left: 13px;
  position: absolute;
  top: 438px;
  width: 237px;
}

.testimonials .overlap-group-2 {
  height: 272px;
  position: relative;
  width: 233px;
}

.testimonials .rectangle-2 {
  background-color: #0d4a831a;
  border-radius: 20px;
  height: 230px;
  left: 0;
  position: absolute;
  top: 43px;
  width: 233px;
}

.testimonials .img {
  height: 75px;
  left: 79px;
  mix-blend-mode: luminosity;
  position: absolute;
  top: 5px;
  width: 75px;
}

.testimonials .ellipse-3 {
  background-color: #acacacc9;
  border-radius: 10.14px;
  height: 20px;
  left: 132px;
  position: absolute;
  top: 0;
  width: 20px;
}

.testimonials .text-wrapper-6 {
  color: #ffffff;
  height: 26px;
  left: 35px;
  position: absolute;
  text-align: center;
  top: 90px;
  font-family: var(--f18-font-family);
  font-size: var(--f18-font-size);
  font-style: var(--f18-font-style);
  font-weight: var(--f18-font-weight);
  letter-spacing: var(--f18-letter-spacing);
  line-height: var(--f18-line-height);
}

.testimonials .text-wrapper-7 {
  color: #ffffff;
  height: 110px;
  left: 21px;
  position: absolute;
  text-align: justify;
  top: 124px;
  width: 190px;
  font-family: var(--paragraph-font-family);
  font-size: var(--paragraph-font-size);
  font-style: var(--paragraph-font-style);
  font-weight: var(--paragraph-font-weight);
  letter-spacing: var(--paragraph-letter-spacing);
  line-height: var(--paragraph-line-height);
}
  

.testimonials .testimonial-item-2 {
  height: 272px;
  left: 6px;
  position: absolute;
  top: 146px;
  width: 237px;
}

.testimonials .testimonial-item-3 {
  height: 272px;
  left: 13px;
  position: absolute;
  top: 730px;
  width: 237px;
}

.testimonials .read-what-others {
  color: #ffffff;
  height: 72px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 45px;
  width: 244px;
  font-family: var(--header-font-family);
  font-size: var(--header-font-size);
  font-style: var(--header-font-style);
  font-weight: var(--header-font-weight);
  letter-spacing: var(--header-letter-spacing);
  line-height: var(--header-line-height);
}

.testimonials .text-wrapper-8 {
  color: #ffffff;
  height: 29px;
  left: 57px;
  position: absolute;
  text-align: center;
  top: -1px;
  font-family: var(--subheader-font-family);
  font-size: var(--subheader-font-size);
  font-style: var(--subheader-font-style);
  font-weight: var(--subheader-font-weight);
  letter-spacing: var(--subheader-letter-spacing);
  line-height: var(--subheader-line-height);
}
