.nav-bar-2 {
  height: 36px;
  left: 217px;
  position: absolute;
  top: 828px;
  width: 764px;
}

.nav-bar-2 .group-42 {
  height: 14px;
  left: 730px;
  position: absolute;
  top: 12px;
  width: 33px;
}

.nav-bar-2 .rectangle-8 {
  background-color: #d9d9d9;
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 33px;
}

.nav-bar-2 .rectangle-9 {
  background-color: #d9d9d9;
  height: 2px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 33px;
}

.nav-bar-2 .rectangle-10 {
  background-color: #d9d9d9;
  height: 2px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 33px;
}

.nav-bar-2 .control-chef-high-3 {
  height: 35px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 1px;
  transition: all 0.5s ease;
  width: 199px;
}

.nav-bar-2 .div-4 {
  height: 35px;
}

.nav-bar-2 .frame-8 {
  height: 35px;
  overflow: hidden;
  width: 199px;
}

.nav-bar-2 .div-wrapper-3 {
  height: 35px;
  width: 199px;
}

.nav-bar-2 .overlap-9 {
  height: 35px;
  position: relative;
}

.nav-bar-2 .mask-group-7 {
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 199px;
}