.blur {
  height: 3658px;
  position: relative;
  width: 2431px;
}

.blur .ellipse {
  background-color: #6bb6f333;
  border-radius: 400px/525.57px;
  filter: blur(205px);
  height: 1051px;
  left: 682px;
  position: absolute;
  top: 0;
  width: 800px;
}

.blur .div {
  background-color: #6785f133;
  border-radius: 448.5px/596.53px;
  filter: blur(154px);
  height: 1193px;
  left: 0;
  position: absolute;
  top: 2465px;
  width: 897px;
}

.blur .ellipse-2 {
  background-color: #6455f047;
  border-radius: 400px/525.57px;
  filter: blur(205px);
  height: 1051px;
  left: 1631px;
  position: absolute;
  top: 1406px;
  width: 800px;
}
