.nav-bar-3 {
  height: 14px;
  left: 312px;
  position: absolute;
  top: 4px;
  width: 326px;
}

.nav-bar-3 .group-42 {
  height: 14px;
  left: 312px;
  position: absolute;
  top: 4px;
  width: 14px;
}

.nav-bar-3 .rectangle-8 {
  background-color: #d9d9d9;
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 14px;
}

.nav-bar-3 .rectangle-9 {
  background-color: #d9d9d9;
  height: 1px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 14px;
}

.nav-bar-3 .rectangle-10 {
  background-color: #d9d9d9;
  height: 1px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 14px;
}

.nav-bar-3 .control-chef-high-3 {
  height: 14px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0px;
  transition: all 0.5s ease;
  width: 85px;
}

.nav-bar-3 .div-4 {
  height: 14px;
}

.nav-bar-3 .frame-8 {
  height: 14px;
  overflow: hidden;
  width: 85px;
}

.nav-bar-3 .div-wrapper-3 {
  height: 14px;
  width: 85px;
}

.nav-bar-3 .overlap-9 {
  height: 14px;
  position: relative;
}

.nav-bar-3 .mask-group-7 {
  height: 14px;
  left: 0;
  position: absolute;
  top: 0;
  width: 85px;
}