.call{
    width: 30px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 0px;
}
.call-us:hover{
    font-size: larger;
    cursor: pointer;    
}
.mail{
    width: 30px ;
    display: inline-block;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 0px;
}
.mail-us:hover{
    font-size: larger; 
    cursor: pointer;
}
.contact-us{
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
}
.top-page{
    display: inline-block;
    vertical-align: bottom;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 3fr 45fr 4fr;
}
.info{
    display: grid;
    grid-template-columns: 8fr 50px 1fr 50px 1fr;
    background-color: #ddd;
    border-radius: 5px;
}
.logo{
    width: 80px;
    display: inline-block;    
}
.logo-name{
    display: inline-block;
}
.login{
    display: inline-block;
    margin-left: 30px;
    margin-top: 0px;    
}
.loginbtn{
    font-family:Anta;
    color: rgb(1, 31, 70);
    background-color: #ddd;
    border-color: rgb(1, 1, 70);
    border-radius: 10px;
    border-style: solid;
    font-size: 23px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
.loginbtn:hover{
    cursor: pointer;
    color: #ddd;
    background-color: rgb(1, 31, 70);
}
h1{
    font-family:Anta;
    color: rgb(1, 1, 70);
    font-size: 40px;
    margin-left: 4px;
    margin-top: 0px;
}
h2{
    margin-left: 0px;
    font-family:Anta;
    color: rgb(1, 31, 70);
    font-size: 23px;
    margin-top: 0px;
}
p{
    font-family: Anta;
    color:rgb(0, 119, 255);
    font-size: 18px;
    margin-left: 25px;
    margin-top: 0px;
}
.dropdown{
    display: inline-block;
    margin-right: 30px;
}
.dropbtn{
    background-color: yellow;
    color: rgb(1, 1, 70);
    padding: 10px;
    font-size: 16px;
    font-family: Anta;
    border: none;
    border-radius: 8px; 
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    font-family: Anta;
    position: absolute;
    align-items: center;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(1, 1, 70);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgb(1, 1, 70);
    color:yellow;
    cursor: pointer;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: yellow;
    border-radius: 5px;
}